<section class="register">
  <mat-card>
    <h3>Registrarse</h3>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input
        matInput
        type="text"
        #userEmail
        required
        placeholder="example@hotmail.com"
      />
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" #userPwd required />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="primary"
      (click)="authService.SignUp(userEmail.value, userPwd.value)"
    >
      Registrarce
    </button>
    <br><br>
    <p>Tienes una cuenta? <span><a routerLink="/sign-in">Ingrese</a></span></p>
  </mat-card>
</section>
