<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First"
    ><div class="content">
      <h1>Últimos posts</h1>
      <span class="example-spacer"></span>
      <button mat-mini-fab color="primary"><mat-icon>add </mat-icon></button>
    </div>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div
          fxFlex="25%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]"
        >
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>Background {{ num }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/img/background.jpeg" />
            <mat-card-content>
              <p>The Himalayas is a mountain range in Asia.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button><mat-icon>visibility</mat-icon></button>
              <button mat-icon-button><mat-icon>create</mat-icon></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Second">
    <comp-post-blog></comp-post-blog>
  </mat-tab>
</mat-tab-group>
