<mat-toolbar *ngIf="authService.userData as user">
  <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="width: 10px"></span>
  <span>Blog Engine</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    [matTooltip]="user.email"
    matTooltipClass="custom-tooltip"
  >
    <img
      width="36"
      src="{{ user.photoURL ? user.photoURL : '/assets/svg/user.svg' }}"
      alt=""
      style="border-radius: 18px; cursor: pointer"
    />
  </button>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/inicio" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>Inicio</span>
      </a>
      <a mat-list-item routerLink="/dashboard/blog" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>article</mat-icon>
        <span mat-line>Blog</span>
      </a>
      <a mat-list-item routerLink="/dashboard/storage" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span mat-line>Archivos</span>
      </a>
      <a mat-list-item (click)="authService.SignOut()" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>logout</mat-icon>
        <span mat-line>Salir</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div id="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


<!-- Show user data when logged in
    <div class="row" *ngIf="authService.userData as user">
      <div class="col-md-12">
        <div class="media">
          <img
            width="75"
            class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{ user.photoURL ? user.photoURL : '/assets/svg/user.svg' }}"
            alt="{{ user.displayName }}"
          />
          <div class="media-body">
            <h1>
              Hello:
              <strong>{{
                user.displayName ? user.displayName : "User"
              }}</strong>
            </h1>
            <p>
              User ID: <strong>{{ user.uid }}</strong>
            </p>
            <p>
              Email: <strong>{{ user.email }}</strong>
            </p>
            <p>
              Email Verified: <strong>{{ user.emailVerified }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>-->
